<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GoogleAdsApi" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <GoogleAdsApi>

	  <!-- Proxy settings for library. -->
	  <add key="ProxyServer" value=""/>
	  <add key="ProxyUser" value=""/>
	  <add key="ProxyPassword" value=""/>
	  <add key="ProxyDomain" value=""/>

	  <!-- API-specific settings -->
	  <add key="DeveloperToken" value="TGGSvHQkzlP_i7BQYCC9FA"/>

	  <!-- OAuth2 settings -->
	  <add key="AuthorizationMethod" value="OAuth2" />
	  <add key = "OAuth2Mode" value="APPLICATION"/>
	  <add key = "OAuth2ClientId" value = "212745466870-joanp2vbfhqrur53bqlopuiefrjl5mc3.apps.googleusercontent.com" />
	  <add key = "OAuth2ClientSecret" value = "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" />
	  <add key = "OAuth2RefreshToken" value = "1//04V6T0iU9TX50CgYIARAAGAQSNwF-L9IrkJ5CWi3pBkv34cB8IW4TFU8p-Tovmvi6IC5RWBgCIn8lFyVJ7E8G1ooA5yw8qiKQMvI" />

  </GoogleAdsApi>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
